<a href="https://colab.research.google.com/github/Crimpychimp777/actions-learning-pathway/blob/main/Python_Visualization_%26_Data_Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#libraries to help with reading and manipulating data
import numpy as np
import pandas as pd

# Libraries to help with data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# command to tell python to actually display the graphs
%matplotlib inline

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
analytics = pd.read_csv('/content/drive/MyDrive/SUU Data Analytics/Module 2/Automobile -1.csv')
#df = pd.read_csv('/location on your computer/automobile (1).csv)

In [11]:
analytics.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [12]:
analytics.shape

(201, 26)

In [14]:
df=analytics

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   symboling            201 non-null    int64
 1   normalized_losses    201 non-null    int64
 2   make                 201 non-null    object
 3   fuel_type            201 non-null    object
 4   aspiration           201 non-null    object
 5   number_of_doors      201 non-null    object
 6   body_style           201 non-null    object
 7   drive_wheels         201 non-null    object
 8   engine_location      201 non-null    object
 9   wheel_base           201 non-null    float64
 10  length               201 non-null    float64
 11  width                201 non-null    float64
 12  height               201 non-null    float64
 13  curb_weight          201 non-null    int64
 14  engine_type          201 non-null    object
 15  number_of_cylinders  201 non-null    object
 16  engine_size          201 non-null    int64
 17  fuel_system          201 non-null    object
 18  bore                 201 non-null    float64
 19  stroke               201 non-null    float64
 20  compression_ratio    201 non-null    float64
 21  horsepower           201 non-null    int64
 22  peak_rpm             201 non-null    int64
 23  city_mpg             201 non-null    int64
 24  highway_mpg          201 non-null    int64
 25  price                201 non-null    int64
dtypes: float64(7), int64(9), object(10)
memory usage: 41.0+ KB

In [19]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
symboling,201.0,NaN,NaN,NaN,0.840796,1.254802,-2.0,0.0,1.0,2.0,3.0
normalized_losses,201.0,NaN,NaN,NaN,125.189055,33.572966,65.0,101.0,122.0,150.0,256.0
make,201,22,toyota,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fuel_type,201,2,gas,181,NaN,NaN,NaN,NaN,NaN,NaN,NaN
aspiration,201,2,std,165,NaN,NaN,NaN,NaN,NaN,NaN,NaN
number_of_doors,201,2,four,114,NaN,NaN,NaN,NaN,NaN,NaN,NaN
body_style,201,5,sedan,94,NaN,NaN,NaN,NaN,NaN,NaN,NaN
drive_wheels,201,3,fwd,118,NaN,NaN,NaN,NaN,NaN,NaN,NaN
engine_location,201,2,front,198,NaN,NaN,NaN,NaN,NaN,NaN,NaN
wheel_base,201.0,NaN,NaN,NaN,98.797015,6.066366,86.6,94.5,97.0,102.4,120.9
length,201.0,NaN,NaN,NaN,174.200995,12.322175,141.1,166.8,173.2,183.5,208.1
width,201.0,NaN,NaN,NaN,65.889055,2.101471,60.3,64.1,65.5,66.6,72.0
height,201.0,NaN,NaN,NaN,53.766667,2.447822,47.8,52.0,54.1,55.5,59.8
curb_weight,201.0,NaN,NaN,NaN,2555.666667,517.296727,1488.0,2169.0,2414.0,2926.0,4066.0
engine_type,201,6,ohc,145,NaN,NaN,NaN,NaN,NaN,NaN,NaN
number_of_cylinders,201,7,four,157,NaN,NaN,NaN,NaN,NaN,NaN,NaN
engine_size,201.0,NaN,NaN,NaN,126.875622,41.546834,61.0,98.0,120.0,141.0,326.0
fuel_system,201,8,mpfi,92,NaN,NaN,NaN,NaN,NaN,NaN,NaN
bore,201.0,NaN,NaN,NaN,3.329701,0.268166,2.54,3.15,3.31,3.58,3.94
stroke,201.0,NaN,NaN,NaN,3.261741,0.317875,2.07,3.11,3.29,3.46,4.17
compression_ratio,201.0,NaN,NaN,NaN,10.164279,4.004965,7.0,8.6,9.0,9.4,23.0
horsepower,201.0,NaN,NaN,NaN,103.263682,37.389372,48.0,70.0,95.0,116.0,262.0
peak_rpm,201.0,NaN,NaN,NaN,5121.393035,479.624905,4150.0,4800.0,5200.0,5500.0,6600.0
city_mpg,201.0,NaN,NaN,NaN,25.179104,6.42322,13.0,19.0,24.0,30.0,49.0
highway_mpg,201.0,NaN,NaN,NaN,30.686567,6.81515,16.0,25.0,30.0,34.0,54.0
price,201.0,NaN,NaN,NaN,13207.129353,7947.066342,5118.0,7775.0,10295.0,16500.0,45400.0

In [4]:
import os

# List all files and directories in your Google Drive's MyDrive
# This command recursively lists contents of /content/drive/MyDrive
!ls -R /content/drive/MyDrive

/content/drive/MyDrive:
'Colab Notebooks'  'SUU Adv Accounting Data Analytics'	'Tax Return #2.xlsx'
'Document Scans'   'SUU Data Analytics'

'/content/drive/MyDrive/Colab Notebooks':
'Hands_on_Notebook_NumPy_v1 (1).ipynb'	 Untitled0.ipynb
'module 1 load'				 Untitled1.ipynb

'/content/drive/MyDrive/Document Scans':
 104b5871-e1b3-458c-a2ff-e82a0668c5dd.jpg
 28d06760-d3d5-4670-8979-6ab4d888d97c.jpg
 2938b9a7-2900-4d26-b0c8-102bd49fa2c7.jpg
 2e0bf96a-8540-4ae7-8990-715985d8b758.jpg
 524d0337-3b6c-48e8-8ffd-b4443b4745f1.jpg
 58dc78ba-41e0-49e5-8372-dcc6ca5c71fd.jpg
 63ee73be-7cda-42a9-b082-9f764d707d38.jpg
 68093418-e5cd-43ab-8b64-6cdfcf5f0294.jpg
 792e56f1-37ed-4427-9452-de70a63e55d4.jpg
 9583c534-25c9-4639-a8e4-bc5f38881910.jpg
 b4ad1401-f0a2-4762-923b-894aa87d2016.jpg
 c2b8cad1-bf08-46b3-8611-89ea0c2e5a88.jpg
 cbedef25-4d05-491f-ba44-c2878bcbc030.jpg
 cca71e74-274b-49c1-b9f6-93285aefbf0a.jpg
 dc70bee7-2cbb-49e8-bd35-af5f6067dc9e.jpg
 document.pdf
 e18f029e-995e-4c88-8819-ede9d5a05dce.jpg
 f447a00a-1d4a-4095-a02f-2aab1e005779.jpg
 f8a228e4-ec72-46b8-80e9-ec7408535358.jpg
'Marriage Ceritificate.JPG'
'Marriage Certificate pg2.JPG'
'Marriage Certificate pg3 (1).JPG'
'Marriage Certificate pg3.JPG'
'Marriage Certificate pg4 (1).JPG'
'Marriage Certificate pg4.JPG'
'Marriage Certificate pg5 (1).JPG'
'Marriage Certificate pg5.JPG'
'Marriage Certificate pg6 (1).JPG'
'Marriage Certificate pg6.JPG'
'Marriage Certificate pg7 (1).JPG'
'Marriage Certificate pg7.JPG'
'MTB BANK February Statement (1).pdf'
'MTB BANK February Statement.pdf'
'MTB BANK January Statement (1).pdf'
'MTB BANK January Statement.pdf'
'norma elias .pages'
'Norm and Shan FEB 2023 Joint Brokerage (1).pdf'
'Norm and Shan FEB 2023 Joint Brokerage.pdf'
'Norman Elias Wells Fargo W2 2021.JPG'
'Norm Elias Computershare W2.pdf'
'Norm Elias Employment Verification.pdf'
'Norm Elias PaystubStatement for Feb 17, 2023.pdf'
'Norm Elias Statement for Feb 3, 2023.pdf'
'Norm for Roof Replacement 2025.pdf'
'Norm Roth IRA FEB 2023.pdf'
'Norms front of license.JPG'
'norm Shan and Rei 2020 Taxe Return.pdf'
'norm Shan and Rei 2021 Taxes Return.pdf'
'Norm Shan Rei 2019 Tax Return.PDF'
 SCN1672949206268.pdf
 SCN1672949268310.pdf
 SCN1672949305047.pdf
 SCN1672949360096.pdf
 SCN1672949418226.pdf
 SCN1673460352447.pdf
 SCN1673461173827.pdf
 SCN1675101297492.pdf
 SCN1675101369041.pdf
 SCN1675101445605.pdf
 SCN1675101507980.pdf
 SCN1675101584180.pdf
 SCN1675961619227.pdf
 SCN1675961662115.pdf
 SCN1675961701154.pdf
 SCN1675961739767.pdf
 SCN1675961775356.pdf
 SCN1675961811500.pdf
 SCN1675961853788.pdf
 SCN1675961890371.pdf
 SCN1677341495724.pdf
 SCN1677341528281.pdf
 SCN1677341567019.pdf
 SCN1677466151235.pdf
 SCN1677466193743.pdf
 SCN1677466233069.pdf
 SCN1677466274660.pdf
 SCN1677466316048.pdf
 SCN1677466354721.pdf
 SCN1677466393790.pdf
 SCN1677466436331.pdf
 SCN1677466474469.pdf
 SCN1677466514814.pdf
 SCN1677466550930.pdf
 SCN1677525626900.pdf
 SCN1677534561383.pdf
 SCN1677534605043.pdf
 SCN1677534637935.pdf
 SCN1677534683228.pdf
 SCN1677534727667.pdf
 SCN1677534764482.pdf
 SCN1677548469876.pdf
 SCN1677624926048.pdf
 SCN1678462318795.pdf
 SCN1678891574910.pdf
 SCN1678891609740.pdf
 SCN1678891645873.pdf
 SCN1678901293196.pdf
 SCN1681216191029.pdf
 SCN1681216236716.pdf
 SCN1681400634120.pdf
 SCN1681505344840.pdf
 SCN1681505419253.pdf
 SCN1682358068940.pdf
 SCN1682358103644.pdf
 SCN1682358140846.pdf
 SCN1682358189737.pdf
 SCN1682521312910.pdf
 SCN1682521370159.pdf
 SCN1682521436158.pdf
 SCN1682522238994.pdf
 SCN1682533727766.pdf
 SCN1682533925868.pdf
 SCN1684175332649.pdf
 SCN1689360763648.pdf
 SCN1689360809915.pdf
 SCN1708122349272.pdf
 SCN1708188971467.pdf
 SCN1708189035864.pdf
 SCN1708192685398.pdf
 SCN1709055919737.pdf
 SCN1709055984226.pdf
 SCN1709056041563.pdf
 SCN1709769916293.pdf
 SCN1712175695761.pdf
 SCN1712175760821.pdf
 SCN1712175820189.pdf
 SCN1712175945174.pdf
 SCN1712177598227.pdf
 SCN1712854926346.pdf
 SCN1714950255804.pdf
 SCN1715863454411.pdf
 SCN20241031073920028.pdf
 SCN20241031074326156.pdf
 SCN20241031152505636.pdf
 SCN20241031152558760.pdf
 SCN20241031152811231.pdf
 SCN20241209163050203.pdf
 SCN20241209163131938.pdf
 SCN20241210095035695.pdf
 SCN20250104172412368.pdf
 SCN20250113094525338.pdf
 SCN20250113094637210.pdf
 SCN20250123150556250.pdf
 SCN20250123150651996.pdf
 SCN20250130133138776.pdf
 SCN20250130133226624.pdf
 SCN20250130133305588.pdf
 SCN20250224152626308.pdf
 SCN20250301113132125.pdf
 SCN20250422104840801.pdf
 SCN20250711115837423.pdf
 SCN20250715155052962.pdf
 SCN20250803135733329.pdf
 SCN20250803135841687.pdf
 SCN20250803140006212.pdf
 SCN20250803142506304.pdf
 SCN20250804083154342.pdf
 SCN20250824163652831.pdf
 SCN20250914155158255.pdf
 SCN_20251214_1003.pdf
 SCN_20251227_1517.pdf
 SCN_20251227_1518.pdf
 SCN_20251229_1208.pdf
 SCN_20260101_1026.pdf
'Shan and Norm Flagstar Mortgage Feb 2023 Statement.pdf'
'SHAN YOU Employment Verification.pdf'
'Shan You Front of 2115 Henderson Ave License.jpg'
'Shan You Paystub1.pdf'
'Shan You Paystub2.pdf'
'Shan You W2 YuYing 2021 snippet.png'
'Spire W2_2020.pdf'
'Taxpayer First Act Consent Form Norman and Shan.pdf'
'Washington YuYing 2022 W2.pdf'
'Wells Fargo W2_2020.pdf'
'You-Elias Credit Report.pdf'

'/content/drive/MyDrive/SUU Adv Accounting Data Analytics':
'â­ Financial Ratios with XBRL - Textbook Version.gsheet'
'Lab 8-1 SP100 Analysis.gsheet'
'Lab 8-2 Mystery Ratios.gsheet'
'Lab 8-3 Financial Ratios with XBRL Analysis.gsheet'

'/content/drive/MyDrive/SUU Data Analytics':
'Module 1'  'Module 3'	'Module 5'  'Module 7'
'Module 2'  'Module 4'	'Module 6'

'/content/drive/MyDrive/SUU Data Analytics/Module 1':
'Automobile -1.csv'  'Module 1 Homework.ipynb'	'StockData .csv'    Untitled
 books.csv	      movies_metadata.csv	'StockData .xlsx'

'/content/drive/MyDrive/SUU Data Analytics/Module 2':
'Automobile -1.csv'		'Melbourne_Housing -1.csv'
'Melbourne_Housing -1 (1).csv'	'Python Visualization & Data Preparation.ipynb'

'/content/drive/MyDrive/SUU Data Analytics/Module 3':

'/content/drive/MyDrive/SUU Data Analytics/Module 4':

'/content/drive/MyDrive/SUU Data Analytics/Module 5':

'/content/drive/MyDrive/SUU Data Analytics/Module 6':

'/content/drive/MyDrive/SUU Data Analytics/Module 7':